.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.product-item {
  background-color: #1e1e1e;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  color: white;
  width: 250px; /* Increase the width */
  text-align: center;
  transition: transform 0.3s;
}

.product-item:hover {
  transform: scale(1.05); /* Add a hover effect for better visual feedback */
}

.product-item img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.product-item h2 {
  font-size: 20px; /* Increase font size */
  margin-bottom: 15px;
}

.product-item p {
  font-size: 18px; /* Increase font size */
  margin-bottom: 15px;
}

.product-item button {
  background-color: #ff9900;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.product-item button:hover {
  background-color: #e68a00;
}

.search-container {
  display: flex;
  gap: 10px;
  margin: 20px;
  justify-content: center;
}

.search-container input,
.search-container select {
  padding: 12px;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #333;
  color: white;
}

.search-container button {
  padding: 12px 20px;
  border: none;
  background-color: #ff9900;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #e68a00;
}